VITE_PUBLIC_SUPABASE_URL="https://mwgkbhrjsmqynmtwfgxx.supabase.co"
VITE_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im13Z2tiaHJqc21xeW5tdHdmZ3h4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjQyNTk2MDMsImV4cCI6MjA3OTgzNTYwM30.9cHbb1U-2v7x4L0Uh2xQalqjmV4592EHK0jmP54mgmM"